<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(
<% if @cocktail.photo.attached? %>
  <%= image_uploaded = cl_image_path(@cocktail.photo.key) %>
<% else %>
  <%= image_uploaded = cl_image_path 'Mister-cocktail/photo-1542849187-5ec6ea5e6a27_oc8iry' %>
<% end %>
)">
  <div class="container-show">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
