<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path 'Mister-cocktail/photo-1514933651103-005eec06c04b_ymdgh2' %>');">
  <div class="container">
    <h1>Welcome to your own Cocktail Bar!</h1>
    <h3 class="banner-typed-js"></h3>
    <p>Prepare the cocktail of your dreams</p>
  </div>
</div>
