<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a class="text-decoration-none" href="https://github.com/Ahiiia92"> Ahiiia92</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
