// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$champagne: rgb(243, 233, 210);
$vert: #073b4c;
$vert-clair: #1a936f;
$vert-hover: #147256;
$pomme: #88d498;
$herbe: #c6dabf;
