<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/613037/pexels-photo-613037.jpeg);">
  <div class="container">
    <h1>Welcome !</h1>
    <p>List of our Cocktails</p>
    <p><%= link_to "Add Cocktail", new_cocktail_path, class:"btn btn-primary"%></p>
  </div>
</div>

<div class="container">
  <ul style="list-style-type:none"><% @cocktails.each do |cocktail| %>
    <li>
      <%= render 'components/card', cocktail: cocktail%>
    </li>
    <% end %>
  </ul>
</div>

<br>
<p><%= link_to "Add Cocktail", new_cocktail_path %></p>


