<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path 'Mister-Cocktail/pexels-photo-298719_l5exes' %>);">
  <div class="container">
    <h1>Create your own Cocktail</h1>
  </div>
</div>

<div class="container d-flex col-6 justifiy-content-center m-auto">
       <%= render 'form' %>
</div>

<div class="container">
  <div class="row justify-content-center mt-2">
    <div class="col-12 col-md-8">
      <p><%= link_to "<< Back", root_path, class: "btn btn-flat" %></p>
    </div>
  </div>
</div>
