<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path 'pexels-photo-298719_l5exes' %>);">
  <div class="container">
    <h1>Create your own Cocktail</h1>
  </div>
</div>

    <%= render 'form' %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <p><%= link_to "<< Back", root_path %></p>
    </div>
  </div>
</div>
