.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  margin: 0;
  color: $champagne;
  text-shadow: 1px 1px 10px rgba(255, 254, 254, 0.2);
  font-size: 3em;
  font-weight: bold;
}

.banner h3 {
  font-size: 2em;
  text-shadow: 1px 1px 10px rgba(255, 254, 254, 0.2)
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
