.btn-flat {
  padding: 8px 24px;
  // border-radius: 4px;
  transition: background 0.3s ease;
  margin-top: 15px;
  border: $vert-clair;
  background-color: $vert-clair;
  color: $champagne;
  border-bottom: solid 1px #f3e9d2;
  border-top: solid 1px #f3e9d2;
}

.btn-flat:hover {
  background-color: $vert-hover;
  border: $vert-hover;
  color: $champagne;
  border-bottom: solid 1px #f3e9d2;
  border-top: solid 1px #f3e9d2;
  text-decoration: none;
}

.btns-bottom {
  display: flex;
  justify-content: space-evenly;
}

.btn-search {
  transition: background 0.3s ease;
  margin-top: 15px;
  border: $vert-clair;
  background-color: $vert-clair;
  color: $champagne;
  border-bottom: solid 1px #f3e9d2;
  border-top: solid 1px #f3e9d2;
  height: 38px;
}

.btn-search:hover {
  background-color: $vert-hover;
  border: $vert-hover;
  color: $champagne;
  border-bottom: solid 1px #f3e9d2;
  border-top: solid 1px #f3e9d2;
  text-decoration: none;
}
