.cards {
  grid-gap: 1rem;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }

//   .card-product-infos {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: $vert;
  box-shadow: 0 0 15px rgb(243, 233, 210);
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
  position: relative;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 16px;
  margin-top: 16px;
  height: 90%;
  grid-template-columns: 1fr;

  h1 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}

.card-product-actions {
  padding-left: 15px;
}

#results {
  display: flex;
  gap: 1rem;
}

.card-product-btns {
  display: inline-grid;
  padding-right: 10px;
  margin-bottom: 15px;
}

.card-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-top: 15px;
  text-align: center;
  place-items: center;
}
