.cards {
  grid-gap: 1rem;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  z-index: 0;
  overflow: hidden;

  &:hover {
    transition: all 0.1s ease-in-out;
    border: 1px solid #c4b594;
    background-color: rgb(196, 181, 148);
    border-radius: 4px;
    text-decoration: none;
    color: $vert;
    box-shadow: rgba(196, 181, 148, 0.3) 0px 0px 10px;
  }

  &:before {
    z-index: -1;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}



// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }

//   .card-product-infos {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  p {
    margin: 0 auto;
    text-align: center;
  }
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: $vert;
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
  position: relative;
  border-bottom: solid 1px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  background: $vert;
  box-shadow: 0 0 15px #12739369;
  border-radius: 2px;
  padding: 16px;
  margin-top: 16px;
  height: 97%;
  grid-template-columns: 1fr;
  border-style: solid double;

  h1 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}

.card-product-actions {
  padding-left: 15px;
  text-align: justify;
}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  width: 100vh;
  margin: 0 auto;
  padding: 0;
}

.card-product-btns {
  display: inline-grid;
  padding-right: 20px;
}

.card-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  text-align: center;
  place-items: center;
}

.card-product-btns>a>i {
  color: $champagne;

  i:hover {
    color: $herbe;
  }
}

.my-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  width: 100vh;
  margin: 0 auto;
}

.form-inline {
  margin-top: 15px;
}
