.navbar-lewagon {
  height: 50px;
  background: white;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 7;
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand img {
    width: 40px;
  }
}
